google:
  # Use the full project id of an existing project.
  project_id: ''
  folder_id: ''
  billing_account: ''
  region: 'europe-west2'
  project_label: 'sandbox-eq'

k8s:
  node_machine_type: 'n1-standard-2'

# Currently the docker registry can only be a GCR registry.
# Ensure in the GCR settings, the visibility is set to Public.
# The google.project_id should be the project id where the container registry is hosted.
docker:
  app_registry: 'eu.gcr.io/<google.project_id>'
  build_image_registry: 'eu.gcr.io/census-eq-ci'

# If a non development state bucket for the terraform backend is used, specify it here
terraform:
  state_bucket: 'eq-terraform-load-generator-tfstate'

slack_channel:
  # Do not include the '#'
  name: ''

benchmark:
    load_injector_instances: 1
    user_wait_time_min_seconds: 0
    user_wait_time_max_seconds: 0
    requests_json: 'requests/census_individual_gb_eng.json'
    clients_per_pod: '10'
    hatch_rate: '10'
    run_time: '30m'
    timeout: '60m'
    target_fully_qualified_domain_name: 'staging-runner.gcp.dev.eq.ons.digital/questionnaire/'
    requested_cpu_per_pod: '0.7'
    requested_memory_per_pod: '2048Mi'
