google:
  # The environment you would like to provision e.g. dev
  # This should be the full project id if it is an existing project.
  project_name: ''
  folder_id: ''
  billing_account: ''
  region: 'europe-west2'
  # The label for this project in GCP
  project_label: 'sandbox-eq'

# What machine type to use for each node
machine_type: 'n1-standard-2'

# Currently the docker registry can only be a GCR registry.
# Ensure in the GCR settings, the visibility is set to Public.
# The google.project_id should be the project id where the container registry is hosted.
# This is the docker registry to pull the application images from.
docker:
    app_registry: eu.gcr.io/<google.project_id>
    # The docker registry to pull the build images from.
    build_image_registry: eu.gcr.io/census-eq-ci

# If a non development state bucket for the terraform backend is used, specify it here
terraform_state_bucket: 'eq-terraform-load-generator-tfstate'

slack_channel_name: ''

# The full DNS name for runner
# For example: myenv-runner.gcp.dev.eq.ons.digital
runner_fully_qualified_domain_name: ''

requested_cpu_per_pod: '0.7'
requested_memory_per_pod: '2048Mi'

number_of_load_injector_instances: 1
user_wait_time_min_seconds: 0
user_wait_time_max_seconds: 0
requests_json: 'requests/census_individual_gb_eng.json'
number_of_clients_per_pod: '10'
hatch_rate: '10'
run_time: '30m'
timeout: '60m'
